<div class="castle-card-main">
        <h5>{{this.name}}</h5>
        <p>{{this.country}}</p>


        <a href="/castles/{{this._id}}/edit">Edit</a>

        <form action="/castles/{{this._id}}/delete" method="POST">
            <button>Delete</button></form>
    </div>


</div>