<div class="country-first-div">
        
        <div class="country-castle-div">
                {{#each castlesFromDB }}
                <div class="castle-first-div">
                        <img src="{{this.image}}" alt="castle-img" class="country-img">
                        <div class="country-text">
                                <h5>{{this.name}}</h5>
                                <p>{{this.address}}</p>
                        </div>

          <button><a href="/castle/{{_id}}" id="view-castle">View this Castle</a></button>
        </form>

</div>

<footer>
    <div class="footer">
      <hr>
        <div class="footer-text">
          <a href="" class="footer-a">About Us</a>
          <a href="" class="footer-a">Terms and Conditions</a>
          <a href="" class="footer-a">Contact</a>
        </div>
    </div>
  </footer>
