<div class="error-container">
    <div class="error-div">
        <h1>Error!</h1>
        <h2>You don't have the rights to access this page! </h2>
        <br>
        <a href="/signup" class="castle-button">Click here to sign-up</a>
    </div>
</div>