<section class="container-fullwidth index-container">
    <div class="index-main-div">
        <img class="index-img" src="/images/test-castle.jpg" alt="test-castle">
        <div class="search-bar">
            <div class="searchbar-text">
                <form class="index-form" action="/country" method="GET">
                    {{!-- <label for="countries">Select a country:</label> --}}
                    <select name="country" id="country">
                        <option>Select a Country </option>

                        <option value="Uk">United Kingdom</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Netherlands">Netherlands</option>
                        <option value="France">France</option>
                        <option value="Spain">Spain</option>
                        <option value="Italy">Italy</option>

                    </select>
                    <select name="capacity" id="capacity">
                        <option>Number of Guests </option>
                        <option value="one">1</option>
                        <option value="two">2</option>
                        <option value="three">3</option>
                        <option value="four">4</option>
                    </select>
                    <button type="submit" class="search-btn">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="container-fullwidth">
    <div class="about-section">
        <div class="about-div">
            <h3 class="index-h3">Search throughout Europe</h3>
            <p class="index-p">Everyone deserves the chance to feel like royalty. Search and book your next magical
                vacation</p>
        </div>
        <div class="about-div">
            <h3 class="index-h3">Save your favorite destinations</h3>
            <p class="index-p">If you create an account you can login to save and view your favorite location!</p>
        </div>
        <div class="about-div">
            <h3 class="index-h3">Can't find what you're looking for?</h3>
            <p class="index-p">If you don't see a destination or castle you can add it when you're signed in.</p>
        </div>
    </div>
</section>

<section class="container-fullwidth">
    <div class="amenities-div">
        <div class="amenities-card">
            <img class="amenities-img" src="/images/castleRoom.jpeg" alt="castle-room">
            <p class="amenities-p">Royal rooms</p>
        </div>
        <div class="amenities-card">
            <img class="amenities-img" src="/images/joust.jpeg" alt="jousting">
            <p class="amenities-p">Relaxing activities</p>
        </div>
        <div class="amenities-card">
            <img class="amenities-img" src="/images/vista.jpeg" alt="vista">
            <p class="amenities-p">Secluded vistas</p>
        </div>
    </div>

</section>