<section class="banner">
    <img src="/images/test-castle.jpg" alt="test-castle">
    <div class="search-bar">
        <form action="/search" method="POST">
            <label for="countries">Choose a country:</label>
            <select name="countries" id="countries">
        
                    <option value="uk">United Kingdom</option>
                    <option value="ireland">Ireland</option>
                    <option value="netherlands">Netherlands</option>
                    <option value="france">France</option>
                    <option value="spain">Spain</option>
                    <option value="italy">Italy</option>
                
            </select>
            <button type="submit" name="search-button">Search</button>
        </form>
    </div>
</section>

<section class="description"></section>

<section class="location-cards"></section>