<div class="login-page">
  <div class="login-container">
    <h2>Login</h2>
    <div class="login-form-div">
      <form action="/login" method="POST">
        <div>
          <label for="email">Email address</label>
          <br>
          <input type="email" name="username" class="login-input">
        </div>

        <div>
          <label for="password">Password</label>
          <br>
          <input type="password" name="password" class="login-input">
        </div>

        {{#if errorMessage}}
        <div class="error-message">{{errorMessage}}</div>
        {{/if}}

        <div>
          <button class="login-btn">Login</button>
        </div>
      </form>
    </div>
  </div>

</div>

<footer class="index-footer">
  <div class="footer">
    <hr>
    <div class="footer-text">
      <a href="" class="footer-a">About Us</a>
      <a href="" class="footer-a">Terms and Conditions</a>
      <a href="" class="footer-a">Contact</a>
    </div>
  </div>
</footer>